@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-2" >Welcome to <em>!</em>azon Workforce!</h2>
    <br />
    <h3 class="display-4">Brought to you by your local girl gang <b>JAM'N</b></h3>
</div>
